.animatedModal-on,.animatedModal2-on,.animatedModal3-on {
  width: 90%!important;
  height: 90%!important;
  margin-left: auto!important;
  margin-right: auto!important;
   //background: rgba(255, 255, 255, 0.9)!important;
  background: #242424!important;
  color: #fff!important;
  //background: url('../img/modal-back.png')!important;
  border-radius: 10px;
  text-align: center;
  i,a {
    font-size: 3rem;
    margin: 2% 0;
    -webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-ms-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
transition: all 200ms ease-in;
    &:hover {
      cursor: pointer;
      text-shadow: 5px 5px 0px #75aabf;
      -moz-transform: translateX(0px) translateY(-5px);
-webkit-transform: translateX(0px) translateY(-5px);
-o-transform: translateX(0px) translateY(-5px);
-ms-transform: translateX(0px) translateY(-5px);
transform: translateX(0px) translateY(-5px);
    }
  }
//  img {
//    -webkit-box-shadow: 10px 10px 10px 0 #000;
//box-shadow: 10px 10px 10px 0 #000;
//  }
  .closeBtn {
    width: 100px;
    box-shadow: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.animatedModal-on {
  width: 851px!important;
  height: 435px!important;
  background: #fff!important;
  #planningClose {
    position: absolute;
    right: 0;
    top: -15px;
  }
}
.animatedModal2-on {
  //font-family: 'Rock Salt', sans-serif;
  font-family: 'Raleway', sans-serif;
  //background: #000!important;
  //color: #fff!important;
  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  .carteSpan1 {
    font-size: 1.6rem
  }
  .carteSpan2 {
    font-size: 1.4rem
  }
  #carteContent1,#carteContent2 {
    display: flex;
    justify-content: space-around;
    vertical-align: top!important;
    margin-bottom: 4%;
    #carteContentColRight {
      margin-top: 18px;
    }
  }
  .carteContent {
    p {
      font-family: 'Raleway', sans-serif;
      font-style: italic;
      font-size: 1rem
    }
    h4,h5 {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
    }
    h4 {
      font-size: 1.7rem;
      margin: 8%
    }
    h5 {
      font-size: 1.2rem;
      margin: 1%
    }
  }
}
.animatedModal3-on {
  background: #fff!important;
  color: #000!important;
}
#animatedModal3 {
  h3 {
    font-family: 'Rock Salt', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0;
  }
  #contactPhotos {
    display: flex;
    justify-content: space-around;
    img {
      width: 300px;
      height: 300px;
      border-radius: 5%;
    }
  }
  p {
    display: inline-block;
    padding: 1%;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
  }
  i {
    margin-left: 2%;
  }
  a {
    color: #000;
    background: #75aabf;
    font-size: 1rem;
    padding: 1%;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    &:hover {
      text-shadow: none;
      background: #7ab2b2;

      -moz-transform: translateX(0px) translateY(-5px);
      -webkit-transform: translateX(0px) translateY(-5px);
      -o-transform: translateX(0px) translateY(-5px);
      -ms-transform: translateX(0px) translateY(-5px);
      transform: translateX(0px) translateY(-5px);
    }
  }
}
.animatedModal-off {
  // display: none;
}
